<div class="row">
    <div class="col-md-3 hidden-xs">
        <img style="margin-top: -120px;" class="img-responsive" src="/assets/layout/maxl2.png" />
    </div>
    <div class="col-md-8 col-xs-12">
        <img class="img-responsive" src="/assets/layout/aboutText.png" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="/home"><img id="aboutBackButton" class="pull-right" src="/assets/layout/backButton.png"/></a>
    </div>
</div>