<div class="row">
  <div class="col-md-3 hidden-xs">
    <%= image_tag "/assets/layout/maxl2.png", style: "margin-top: -120px;", class: "img-responsive" %>
  </div>
  <div class="col-md-8 col-xs-12">
      <%= image_tag "/assets/layout/aboutText.png", class: "img-responsive" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="<%= root_path %>">
      <%= image_tag "/assets/layout/backButton.png", class: "pull-right", id: "aboutBackButton" %>
    </a>
  </div>
</div>