<div class="rows">
    <div class="col-md-6 hidden-xs">
        <%= image_tag "layout/seat.png", class: "img-responsive pull-left", id: "seat" %>
    </div>
    <div class="col-md-6 col-xs-12">
        <%= image_tag "layout/contactText.png", class: "img-responsive pull-right", id: "contactText" %>
    </div>
</div>

    <a href="<%= root_path %>">
      <%= image_tag "layout/backButton.png", id: "backButton" %>
    </a>
