<div class="rows">
    <div class="col-md-6 hidden-xs">
        <img class="img-responsive pull-left" src="/assets/layout/seat.png">
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-right" src="/assets/layout/contactText.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="/home"><img style="margin-top: 50px;" class="pull-right" src="/assets/layout/backButton.png"/></a>
    </div>
</div>