<div class="rows">
    <div class="col-md-6 hidden-xs">
        <%= image_tag "application/layout/seat.png", class: "img-responsive pull-left" %>
    </div>
    <div class="col-md-6 col-xs-12">
        <%= image_tag "application/layout/contactText.png", class: "img-responsive pull-right" %>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="<%= root_path %>">
      <%= image_tag "application/layout/backButton.png", class: "pull-right", style: "margin-top: 50px;" %>
    </a>
  </div>
</div>
