<div class="row" style="margin-top: -60px;">
    <div class="col-md-8 col-xs-12 pull-right">
        <div style="position: relative;">
            <div style=" position: absolute; z-index: 1; top: 19%; left: 2%; height: 98%; width: 98%; display: block;"><img src="/assets/layout/movie.gif" class="img-responsive" /></div>
            <img class="img-responsive" style="z-index: 2; position: relative;" src="/assets/layout/tv.png">
        </div>
    </div>
</div>
<!--<audio src="/assets/layout/wakemeup.mp3" loop autoplay> </audio>-->