<div class="row" style="margin-top: -60px;">
    <div class="col-md-8 col-xs-12 pull-right">
        <div style="position: relative;">
              <%= image_tag "layout/movie.gif", class: "img-responsive", id: "movie" %>
            <%= image_tag "layout/tv.png", class: "img-responsive", id: "tv" %>
        </div>
    </div>
</div>
<!--<audio src="layout/wakemeup.mp3" loop autoplay> </audio>-->
