<%= image_tag "layout/worksTitle.png", id: "contentTitle" %>
<div style="max-width:700px; margin-left: 30px; margin-top: 100px">
    <div id="amazingslider-1">
        <ul class="amazingslider-slides" style="display:none;">
            <li><img src="/assets/slider/78993274.jpg" alt="S1 Imagetrailer" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag der John Allen AG"/>
                <video preload="none" src="http://player.vimeo.com/video/78993274"></video>
            </li>
            <li><img src="/assets/slider/77281390.jpg" alt="IMAGE FILM COLONYS" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag der John Allen AG"/>
                <video preload="none" src="http://player.vimeo.com/video/77281390"></video>
            </li>
            <li><img src="/assets/slider/80246711.jpg" alt="Giardino Hotel Imagefilm" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag der John Allen AG"/>
                <video preload="none" src="http://player.vimeo.com/video/80246711"></video>
            </li>
            <li><img src="/assets/slider/77280477.jpg" alt="MOTOREX SPOT" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag der John Allen AG"/>
                <video preload="none" src="http://player.vimeo.com/video/77280477"></video>
            </li>
            <li><img src="/assets/slider/77279837.jpg" alt="SEAT SPOT" data-description="Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag der John Allen AG"/>
                <video preload="none" src="http://player.vimeo.com/video/77279837"></video>
            </li>
            <li>
                <img src="/assets/slider/78995533.jpg" alt="Volksbank Werbespot" data-description="Im Auftrag für Film&co Wien"/>
                <video preload="none" src="http://player.vimeo.com/video/78995533"></video>
            </li>
            <li><img src="/assets/slider/79885059.jpg" alt="VANS SPOT" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/79885059"></video>
            </li>
            <li><img src="/assets/slider/78995112.jpg" alt="Chill and Surf Imagefilm" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/78995112"></video>
            </li>
            <li>
                <img src="/assets/slider/79669654.jpg" alt="Jonas Bachan Surf-Profile" data-description="a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/79669654"></video>
            </li>
            <li><img src="/assets/slider/78994835.jpg" alt="The Gun" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/78994835"></video>
            </li>
            <li><img src="/assets/slider/77281271.jpg" alt="Swat Training Image Film" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Im Auftrag für Swat Training.ch"/>
                <video preload="none" src="http://player.vimeo.com/video/77281271"></video>
            </li>
            <li>
                <img src="/assets/slider/20837502.jpg" alt="The Legendary Lightness 'Blue Light turns to Grey'" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: David Merkofer <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/20837502"></video>
            </li>
            <li><img src="/assets/slider/19006966.jpg" alt="The Legendary Lightness 'AIRPLANE'" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: David Merkofer <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/19006966"></video>
            </li>
            <li><img src="/assets/slider/20840970.jpg" alt="Ephen Rian 'Spread My Wings'" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/20840970"></video>
            </li>
            <li><img src="/assets/slider/19324335.jpg" alt="Red Lights Flash 'Time The Lights Went Out'" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
Musik: Red Lights Flash"/>
                <video preload="none" src="http://player.vimeo.com/video/19324335"></video>
            </li>
            <li><img src="/assets/slider/80606276.jpg" alt="Cromit Musikvideo" data-description="Regie: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/80606276"></video>
            </li>
            <li><img src="/assets/slider/80606512.jpg" alt="Stopptrick Video Homemade" data-description="Figuren: Markus Andritsch De Queiroz <br>
Kamera: Markus Andritsch De Queiroz  <br>
Schnitt: Markus Andritsch De Queiroz  <br>
a burningframes production"/>
                <video preload="none" src="http://player.vimeo.com/video/80606512"></video>
            </li>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <li><img src="/assets/slider/78993274-tn.jpg"/></li>
            <li><img src="/assets/slider/77281390-tn.jpg"/></li>
            <li><img src="/assets/slider/80246711-tn.jpg"/></li>
            <li><img src="/assets/slider/77280477-tn.jpg"/></li>
            <li><img src="/assets/slider/77279837-tn.jpg"/></li>
            <li><img src="/assets/slider/78995533-tn.jpg"/></li>
            <li><img src="/assets/slider/79885059-tn.jpg"/></li>
            <li><img src="/assets/slider/78995112-tn.jpg"/></li>
            <li><img src="/assets/slider/79669654-tn.jpg"/></li>
            <li><img src="/assets/slider/78994835-tn.jpg"/></li>
            <li><img src="/assets/slider/77281271-tn.jpg"/></li>
            <li><img src="/assets/slider/20837502-tn.jpg"/></li>
            <li><img src="/assets/slider/19006966-tn.jpg"/></li>
            <li><img src="/assets/slider/20840970-tn.jpg"/></li>
            <li><img src="/assets/slider/19324335-tn.jpg"/></li>
            <li><img src="/assets/slider/80606276-tn.jpg"/></li>
            <li><img src="/assets/slider/80606512-tn.jpg"/></li>
        </ul>
        <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">jQuery Slider</a>
        </div>
    </div>
</div>


<a href="<%= root_path %>">
    <%= image_tag "layout/backButton.png", id: "backButton" %>
</a>