<div style="padding-top: -70px;">
    <div id="amazingslider-1" style="display:block;">
        <ul class="amazingslider-slides" style="display:none;">
            <li>
                <a href="http://player.vimeo.com/video/77281390" class="html5lightbox">
                    <img src="/assets/slider/77281390.jpg" alt="IMAGE FILM COLONYS" data-description="Was man auch immer wissen muss"/></a>
            </li>
            <li>
                <a href="http://player.vimeo.com/video/77281271" class="html5lightbox">
                    <img src="/assets/slider/77281271.jpg" alt="Swat Training Image Film" data-description="Hier stehen Zusatzinformationen"/></a>
            </li>
            <li>
                <a href="http://player.vimeo.com/video/20837502" class="html5lightbox">
                    <img src="/assets/slider/20837502.jpg" alt="The Legendary Lightness 'Blue Light turns to Grey'" data-description="Die absolut coolste band"/></a>
            </li>
            <li>
                <a href="http://player.vimeo.com/video/19324335" class="html5lightbox">
                    <img src="/assets/slider/19324335.jpg" alt="RED LIGHTS FLASH 'TIME THE WENT OUT'"/></a>
            </li>
            <li>
                <a href="http://player.vimeo.com/video/19006966" class="html5lightbox">
                    <img src="/assets/slider/19006966.jpg" alt="The Legendary Lightness 'AIRPLANE'" data-description="The worlds fastest airplane"/></a>
            </li>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <li><img src="/assets/slider/77281390-tn.jpg"/></li>
            <li><img src="/assets/slider/77281271-tn.jpg"/></li>
            <li><img src="/assets/slider/20837502-tn.jpg"/></li>
            <li><img src="/assets/slider/19324335-tn.jpg"/></li>
            <li><img src="/assets/slider/19006966-tn.jpg"/></li>
        </ul>
        <div class="amazingslider-engine" style="display:none;">
            <a href="http://amazingslider.com">JavaScript Image Slider</a></div>
    </div>
</div>