@media screen and (min-width: 600px) {
  #content {
    background-image:
      url(asset-path('layout/top.png')),
      url(asset-path('layout/right.png')),
      url(asset-path('layout/bottom.png')),
      url(asset-path('layout/left.png'));
    background-position: top, right, bottom, left;
    background-size: contain, contain, contain, contain;
    background-repeat: no-repeat;
    background-color: #666;
    padding: 90px 60px 30px 60px;
    min-height: 750px;
    max-height: 750px;
    position: relative;
  }
  #backButton {
    position: absolute;
    bottom: 95px;
    right: 75px;
  }
  #maxl{
    width: 80%;
  }

  #aboutText{
    margin-top: 23%;
  }

  #contactText{
    margin-top: 23%;
  }

  #seat{
    width: 80%;
    margin-top: 20%;
  }
  #tv{
    position: absolute;
    right: 160px;
    bottom: 50px;
  }

  #logo{
    position: absolute;
    bottom: -80px;
    left: 550px;
    height: 64px;
  }

  #contentTitle{
    position: absolute;
    top: 100px;
    left: 750px;
    height: 128px;
  }
}

#logo{
  background-color: black;
  margin-bottom: 10px;
}






img {
    display: block;
    height: auto;
    max-width: 50%;
}

